@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Color variables */
:root {
  --primary-color: #e2e1e0;
  --secondary-color: #fc8472;
  --tertiary-color: #f8b267;
  --quaternary-color: #65cdba;
  --quinary-color: #b8d9bf;
}

/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  color: var(--primary-color);
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #121212;
  padding: 0% 2% 0% 2%
}

/* Main content grows to push footer down */
main {
  flex: 1;
}

/* link style */
a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--tertiary-color);
}

/* Sublink styles */
a.sublink{
  color: var(--tertiary-color);
  text-decoration: none;
}

a.sublink:visited {
  color: var(--tertiary-color);
  text-decoration: none;
}

a.sublink:hover {
  color: var(--secondary-color);
}


/* Navigation bar settings*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  padding: 1rem 4rem;
}

/* Nav logo styling */
nav .logo {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
  visibility: hidden;
  /* hidden by default */
  opacity: 0;
}

/* Show logo on non-home pages */
nav .logo.show-logo {
  visibility: visible;
  opacity: 1;
}

/* Nav links style */
nav .nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-weight: 500;
}

/* Section styling */
section {
  padding: 4rem 4rem;
}

#about p {
  margin-bottom: .5rem;
}

#academia {
  background-color: #181818;
  /* lighter background */
}

/* Default heading styles */
h1 {
  color: var(--quaternary-color);
  margin-bottom: 1rem;
  font-weight: 500;
}

h2 {
  color: var(--quaternary-color);
  margin-bottom: 1rem;
  font-weight: 400;
}

h3 {
  color: var(--quinary-color);
  margin-bottom: 1rem;
  font-weight: 300;
}

/* Default text element styles */
p {
  max-width: 800px;
}

.list {
  list-style-position: inside;
  margin: 0 0 1rem 0;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.indent {
 margin-left: 1.5rem; 
}

/* Column Settings */
.container {
  display: flex;
  gap: 20px;
  padding-bottom: 1.5rem;
}

.column:first-child {
  flex: 60%;   /* left column takes 70% */
}

.column:last-child {
  flex: 40%;   /* right column takes 30% */
  padding-top: 1rem;
}

/* Footer */
#contact {
  padding: 4rem 0 0 4rem;
}

footer {
  position: relative;
  text-align: center;
  padding: 1.5rem;
}